<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="container-fluid bg-light">
        <div class="row text-center">
          <div class="col-6 col-md-4">
            <a href="#"><img src="../../../assets/images/logo_unju.png" alt="Logo" height="50"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="text-center">
              <a href="#" class="link-dark link-underline-opacity-0"><h5 class="mt-1">Programación y Servicios Web</h5></a>
              <p>Velázquez Gonzalo Nicolás</p>
              <p>UNJu 2024</p>
              <p>TP N°5</p>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="text-center">
              <h5>Links relacionados</h5>
              <ul class="list-unstyled">
                <li class="footer-link"><a  [routerLink]="['productos-listado']" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Productos Destacados</a></li>
                <li class="footer-link"><a [routerLink]="['transaccion-listado']" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Lista de Transacciones</a></li>
                <li class="footer-link"><a [routerLink]="['tickets-listado']" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Lista de Tickets</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="text-center">
              <h5>Redes sociales</h5>
              <div class="mt-4">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</footer>

